<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<th:block th:fragment="SUBSELECT_ENTITY_TEST">
    <div class="panel-heading">子查询映射实体</div>
    <div class="panel-body">
          <pre data-code-format="sql" data-type="hql">
               select st from StudentHomeWork st
          </pre>
    </div>
    <div class="panel-heading">模型配置</div>
    <div class="panel-body">
          <pre data-code-format="java">
/**
 * 通过配置子查询进行模型的映射
 */
@Entity
@Immutable
@Subselect(value = "SELECT ST.ID AS STUDENT_ID , WK.CONTENT AS CONTENT , WK.CREATE_TIME AS TIME ,WK.ID AS ID " +
        "FROM  HOME_WORK WK INNER JOIN STUDENT ST ON ST.ID = WK.STUDENT_ID ")
// 此处为表名称 关联的表 可能存在
@Synchronize({"student", "home_work"})
public class StudentHomeWork {
    @Id
    private String id;  // 必须指定id
    private String studentId;
    private String content;
    private Date time;
    ..... 省略getter 和 setter 方法
}
          </pre>
    </div>
    <script th:src="@{/shigongwen/subselect_entity_test.js}"></script>
</th:block>

</body>
</html>