<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<th:block th:fragment="EXAMPLE_2">
    <div class="panel-heading">例子2</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address2</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password2</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</th:block>
</body>
</html>