<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<th:block th:fragment="HQL_PARAM_QUERY">
    <script type="text/javascript">
    
    </script>
    <div class="panel-heading">使用HQL进行查询(带参数)</div>
    <div class="panel-body">
          <pre data-code-format="sql" data-type="hql" data-argument-names="id">
               select st  from    Model st     where   st.id=:id   order    by st.id
          </pre>
    </div>
    <div class="panel-heading">使用HQL进行查询(带多参数)</div>
    <div class="panel-body">
          <pre data-code-format="sql" data-type="hql" data-argument-names="id,name">
               select st  from    Model st     where   st.id=:id and st.name=:name  order    by st.id
          </pre>
    </div>
    <div class="panel-heading">使用HQL进行查询(关联查询)</div>
    <div class="panel-body">
          <pre data-code-format="sql" data-type="hql" data-argument-names="name">
               select st.homeWorkList from Student st where st.userInfo.name=:name
          </pre>
    </div>
</th:block>
</body>
</html>